* {
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.top {
    flex-direction: column;
    background-color: #1F2937;
}

.header {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 200px;
}

.header p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
    align-items: center;
}

.links {
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}

.top-body {
    flex-direction: row;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 100px 0px;
}

.top-body img {
    width: 500px;
    height: 250px;
}

.top-body-left {
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
}

.top-body-left #title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    flex-wrap: wrap;
}

.top-body-left button {
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    width: 120px;
    padding: 8px 0px;
    border-style: none;
    margin-top: 8px;
}

.information {
    margin-bottom: 100px;
}

.information p {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    align-items: center;
    margin: 40px 0;
}

.information .images {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.images img {
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 200px;
}

.information .texts {
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.texts p {
    margin-top: 8px;
    font-size: 16px;
    text-align: center;
    width: 200px;
}

.quote {
    padding: 130px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote #quote {
    align-self: center;
    width: 800px;
}

.quote #quotee {
    color: black;
    font-weight: bold;
    align-items: end;
    font-size: 24px;
    margin-right: 460px;
    font-style: normal;
}

.cta {
    flex-direction: row;
    background-color: #3882F6;
    align-self: center;
    padding: 50px;
    margin: 100px;
    justify-content: space-between;
    border-radius: 8px;
    width: 800px;
}

.cta .cta-text {
    color: white;
}

.cta-text #title {
    font-size: 20px;
    font-weight: bold;
}

.cta button {
    background-color: #3882F6;
    color: white;
    align-self: center;
    border: 2px solid white;
    border-radius: 8px;
    padding: 4px 24px;
    margin-right: 80px;
}

.footer {
    background-color: #1F2937;
    align-items: center;
    color: white;
    padding: 20px 0px;
}